Repository covid19-cau/capstone-design-project, pull requests merged in 2020-10, with the labels that each got.

#20 feat: add admin ui and seperate components with mock setting
  frontend/src/__MOCK__/mock.tsx
  frontend/src/components/admin/RecommendManageTable.tsx
  frontend/src/components/admin/UserExpandRender.tsx
  frontend/src/components/admin/UserManageTable.tsx
  frontend/src/pages/admin/home.tsx
Labels: frontend, seungkyu lee

#30 feat: add modal of recommend manage content
  frontend/src/__MOCK__/mock.tsx
  frontend/src/components/admin/ContentsModal/index.tsx
  frontend/src/components/admin/RecommendManageTable.tsx
  frontend/src/components/admin/RecommendManageTable/index.tsx
  frontend/src/components/admin/RecommendManageTable/style.module.scss
  frontend/src/components/admin/UserExpandRender/index.tsx
  frontend/src/components/admin/UserManageTable/index.tsx
  frontend/src/pages/admin/home.tsx
Labels: frontend, seungkyu lee

#42 feat: map api response to admin UI
  backend/capstone/src/main/java/com/capstone/controller/AdminContentsController.java
  frontend/src/__MOCK__/mock.tsx
  frontend/src/apis/admin.ts
  frontend/src/components/admin/RecommendManageTable/index.tsx
  frontend/src/pages/admin/home.tsx
Labels: frontend, seungkyu lee

#43 Feature/addjpa
  backend/capstone/src/main/java/com/capstone/controller/AdminContentsController.java
  backend/capstone/src/main/java/com/capstone/controller/AdminUserController.java
  backend/capstone/src/main/java/com/capstone/dao/EquipmentDao.java
  backend/capstone/src/main/java/com/capstone/dao/MealDao.java
  backend/capstone/src/main/java/com/capstone/dao/UserDao.java
  backend/capstone/src/main/java/com/capstone/dao/VideoDao.java
  backend/capstone/src/main/java/com/capstone/model/Meal.java
  backend/capstone/src/main/java/com/capstone/model/Video.java
  backend/capstone/src/main/java/com/capstone/repository/EquipmentRepository.java
  backend/capstone/src/main/java/com/capstone/repository/MealRepository.java
  backend/capstone/src/main/java/com/capstone/repository/MemberRepository.java
  backend/capstone/src/main/java/com/capstone/repository/VideoRepository.java
  backend/capstone/src/main/resources/application.yml
  frontend/package-lock.json
Labels: backend, keunwoo kim

#47 feat: add register contents features
  frontend/src/__MOCK__/mock.tsx
  frontend/src/apis/admin.ts
  frontend/src/components/admin/ContentsModal/index.tsx
  frontend/src/components/admin/RecommendManageTable/index.tsx
  frontend/src/pages/admin/home.tsx
Labels: frontend, seungkyu lee

#49 feat: update repository deal with error
  backend/capstone/src/main/java/com/capstone/controller/AdminContentsController.java
  backend/capstone/src/main/java/com/capstone/controller/AdminMemberController.java
  backend/capstone/src/main/java/com/capstone/repository/EquipmentRepository.java
  backend/capstone/src/main/java/com/capstone/repository/MealRepository.java
  backend/capstone/src/main/java/com/capstone/repository/MemberRepository.java
  backend/capstone/src/main/java/com/capstone/repository/RecordRepository.java
  backend/capstone/src/main/java/com/capstone/repository/VideoRepository.java
Labels: backend, seungkyu lee

#51 feat: mapping user data
  frontend/src/apis/admin.ts
  frontend/src/components/admin/RecommendManageTable/index.tsx
  frontend/src/components/admin/UserExpandRender/index.tsx
  frontend/src/data/index.tsx
  frontend/src/pages/admin/home.tsx
Labels: frontend, seungkyu lee

#52 feat: update api mapping
  frontend/src/apis/admin.ts
  frontend/src/components/admin/RecommendManageTable/index.tsx
  frontend/src/pages/admin/home.tsx
Labels: frontend, seungkyu lee

#54 feat: delete contents feature with api
  frontend/src/apis/admin.ts
  frontend/src/components/admin/RecommendManageTable/index.tsx
  frontend/src/data/index.tsx
  frontend/src/pages/admin/home.tsx
Labels: frontend, seungkyu lee

#62 feat: add default components for client page with atomic design concept
  frontend/package.json
  frontend/src/components/client/atoms/Badge/index.tsx
  frontend/src/components/client/atoms/Badge/style.module.scss
  frontend/src/components/client/atoms/Button/index.tsx
  frontend/src/components/client/atoms/Button/styles.module.scss
  frontend/src/components/client/atoms/Input/index.tsx
  frontend/src/components/client/atoms/Input/styles.module.scss
  frontend/src/components/client/atoms/TextArea/index.tsx
  frontend/src/components/client/atoms/TextArea/styles.module.scss
  frontend/src/components/client/molecules/Block/index.tsx
  frontend/src/components/client/molecules/Block/styles.module.scss
  frontend/src/components/client/molecules/Card/index.tsx
  frontend/src/components/client/molecules/Card/styles.module.scss
  frontend/src/components/client/molecules/Form/index.tsx
  frontend/src/components/client/molecules/Form/styles.module.scss
  frontend/src/components/client/molecules/List/index.tsx
  frontend/src/components/client/molecules/List/styles.module.scss
  frontend/src/components/client/molecules/ListItem/index.tsx
  frontend/src/components/client/molecules/ListItem/styles.module.scss
  frontend/src/components/client/molecules/Tab/index.tsx
  frontend/src/components/client/molecules/Tab/style.module.scss
  frontend/src/components/client/organisms/ContentsCard/index.tsx
  frontend/src/components/client/organisms/ContentsCard/style.module.scss
  frontend/src/components/client/organisms/Foldable/index.tsx
  frontend/src/components/client/organisms/Foldable/style.module.scss
  frontend/src/components/client/organisms/TitledContents/index.stories.tsx
  frontend/src/components/client/organisms/TitledContents/index.tsx
  frontend/src/components/client/organisms/TitledContents/style.module.scss
  frontend/src/components/client/organisms/navBar/index.tsx
  frontend/src/components/client/organisms/navBar/styles.module.scss
  frontend/yarn.lock
  practice.sql
Labels: frontend, seungkyu lee
